@import './fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

input, button {
  outline: none;
  border: none;

}
body {
  font-family: Manrope, serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  user-select: none;
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
}
img {
  user-select: none;
}