
.Mui-selected {
  background: rgba(217, 217, 217, 0.35) !important;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #000 !important;
}
.MuiPaginationItem-previousNext {
  background: url("../assets/images/nextArrowPagination.svg") no-repeat;
  background-size: 30px 30px !important;
}
.MuiPaginationItem-previousNext[aria-label="Go to previous page"] {
  background: url("../assets/images/nextArrowPagination.svg") no-repeat;
  background-size: 30px 34px !important;
  transform: rotate(180deg) !important;
}
.MuiSvgIcon-root {
  display: none !important;
}
.MuiPagination-root {
  display: flex;
  align-items: center;
}