.popupPost {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  &__blackFon {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 40%;
    position: fixed;
    top: 0;
    left: 0;

  }

  &__crossExit {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
  }


  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1065px;
    width: 100%;
    height: 728px;
    background-color: #fff;
    border-radius: 10px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__fields {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 15px;

  }

  &__fullText {
    width: 100%;
    height: 248px;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow-y: scroll;

  }
  &__namePost {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    color: #000000;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__dates {
    display: flex;
    gap: 0 5px;
    margin-top: -28px;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__organization {
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__col {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;

    color: #000000;
    border: 3px solid #A7A7A7;
    border-radius: 10px;
    padding: 5px 20px;

  }

  &__summary {
    width: 285px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #363636;
    height: fit-content;
    justify-self: end;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__deletePost {
    width: 250px;
    height: 43px;

    background: #BA2E36;
    border-radius: 10px;
  }

  &__savePost {
    width: 250px;
    height: 43px;

    background: #00BA95;
    border-radius: 10px;
  }
  &__savePost, &__deletePost {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__dateCreationPost, &__deadline {
    width: 140px;
    height: 102px;

    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;


    border-radius: 0 0 10px 10px;
  }
  &__dateCreationPost {
    background: #00BA95;

  }
  &__deadline {
    background: #BA2E36;
  }


  &__btns {
    display: flex;
    gap: 0 17px;
  }

  &__links {
    display: flex;
    gap: 0 20px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    text-decoration-line: underline;

    color: #3934A3;
  }
}

@media (max-width: 768px) {
  .popupPost {
    &__wrapper {

    }
    &__dates {
      justify-self: flex-end;
    }

    &__namePost {
      font-size: 24px;
      line-height: 33px;
    }
    &__organization {
      font-size: 20px;
      line-height: 27px;
    }
    &__summary {
      font-size: 20px;
      line-height: 27px;
    }
    &__deadline, &__dateCreationPost {
      width: 100px;
      height: 115px;
    }
  }

}
