<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link href="/public/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center vh-100 d-flex justify-content-center align-items-center">
<!--    Уведомление об успешном действии express js-->
    <div class="alert alert-success" role="alert">
        <p>Вы успешно авторизировались</p>
        <hr>
        <p class="mb-0">Теперь вы можете перейти в телеграмм</p>
    </div>
</body>
</html>