.pageGrants {
  margin-top: 20px;

  &__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin-top: 40px;
  }
}

@media (max-width: 1180px) {
  .pageGrants {

    &__posts {
      justify-content: space-evenly;
    }


  }

}